<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Processor</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('run_process_2') }}">
    <fieldset>
        <legend>ACA MEMBER DATA CLEAN UP</legend>
        <input type=file name=doc>
        <input type="submit" name="action" value="UPLOAD FILE">
        <br>
        <br>
        <a href="/download/process_output_aca_member.xlsx">{{ result_file }}</a>
    </fieldset>
</form>
</body>
</html>